# Database Variables
# Uncomment the following line to use database connection string instead of separate env variables
#DATABASE_URL = postgres://${user}:${password}@${host}:${port}/${database}
# Or use theses variables
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=kadence
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# Google SSO variables
NUXT_OAUTH_GOOGLE_CLIENT_ID = changme
NUXT_OAUTH_GOOGLE_CLIENT_SECRET = changeme